.camel__click {
  height: 100px;
  width: 100px;
  background-color: #C19A6B;
  z-index: 5;
}

.spinning {
  animation: spin 1s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
  margin: 0 !important;
}


* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  // DONT TOUCH THIS
  // From https://projects.verou.me/css3patterns/#starry-night
  background-color: black;
  background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.everything {
  display: grid;
  grid-template-columns: 67% 33%;
  height:100vh;
}

.right-panel {
  grid-column: 2;
  height: 100%;
  background-color:red;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 5;



  // DONT TOUCH THIS
  // From https://projects.verou.me/css3patterns/#stairs
  background:
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #999 78%),
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
    #444;
  background-size: 16px 48px;
}

.upgrades-list {
  list-style-type: none;
  padding-left: 0;
}

.upgrade-list__upgrade + .upgrade-list__upgrade {
  margin-top: 2rem;
}


.right-panel__title {
  color: white;
  font-size: 3rem;
  line-height: 3rem;
}

.upgrade-list__upgrade {
  height: 4rem;
  line-height: 4rem;
}

.upgrade__button {
  vertical-align: top;
  height: 4rem;
  display: inline-block;
  width: calc(100% - 4rem);
  top: 0;
  color: white;
  background-color: black;
  border-radius: 4px;
  border-style: none;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
}

.upgrade__count {
  width: 4rem;
  display: inline-block;
  line-height: 4rem;
  font-size: 4rem;
  height: 4rem;
  text-align: center;
}

.upgrade-button__title {
  text-align: left;
  font-size: 1.5rem
}

.upgrade-button__cost {
  text-align: left;
}





@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
  overflow: hidden;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;

}

.clouds{
	width:10000px;
  overflow: hidden;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}

// img{
//   height: 70vh;
//   width:70vh;
//   position: absolute;
//   z-index: 3;
//   right: 20px;
// }
