<div class="container">
  <button class="camel__click" (click)="onCamelClick()">
    <img [class.spinning]="isSpinning" src="../assets/camel-icon.svg" alt="Camel Image" style="transform: rotate(-30deg);">
  </button>

  <div>Cash money:<span>{{points$ | async}}</span></div>

<button (click)="buyHand()" [disabled]="(canBuyHand$ | async) === false">Buy hand (Cost: {{this.hand.cost}}) x{{this.hand.amount}}</button>
<button (click)="upgradeHand()" [disabled]="(canUpgradeHand$ | async) === false">Upgrade hand (Cost: {{this.hand.upgradeCost}}) Lv:{{this.hand.level}} CPS:{{this.hand.cps}}</button>
<button (click)="buyFoot()" [disabled]="(canBuyFoot$ | async) === false">Buy foot (Cost: {{this.foot.cost}}) x{{this.foot.amount}}</button>
<button (click)="upgradeFoot()" [disabled]="(canUpgradeFoot$ | async) === false">Upgrade foot (Cost: {{this.foot.upgradeCost}}) Lv:{{this.foot.level}} CPS:{{this.foot.cps}}</button>
