<div class="everything">
  <div class="container">
    <div class="background-container">

      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
    </div>

    <button class="camel__click" (click)="onCamelClick()" [ngStyle]="{'--m': hand.amount }" style="--tan: 0.41">
      <div class="hands-container">
        <ng-container *ngFor="let item of [].constructor(hand.amount); index as i">
          <img class="item" src="../assets/hand.svg" [ngStyle]="{'--i': i }" />
        </ng-container>
      </div>
      <img class="camel" [ngStyle]="{'animation-duration': spinDuration + 's'}" [class.spinning]="isSpinning" src="../assets/camel-icon.svg" alt="Camel Image" style="transform: rotate(-30deg);">
    </button>

    <div>Cash money:<span>{{points$ | async}}</span></div>
    <div>Click the camel to make it spin!</div>
    <div>Your average click Speed is {{ clickSpeed.toFixed(2) }} clicks/second</div>
    <div *ngIf="isSpinning">Hurry up! your canmel spinning will stop in: {{clickCount}} seconds</div>



  </div>

  <div class="right-panel">
    <h2 class="right-panel__title">Upgrades</h2>
    <ul class="upgrades-list">
      <li class="upgrade-list__upgrade">
        <button class="upgrade__button" (click)="buyHand()" [disabled]="(canBuyHand$ | async) === false">
          <div class="upgrade-button__title">
            Hand
          </div>
          <div class="upgrade-button__cost">
            Cost: {{this.hand.cost}}
          </div>
        </button>
        <div class="upgrade__count" >{{this.hand.amount}}</div>
      </li>
      <li class="upgrade-list__upgrade">
        <button class="upgrade__button" (click)="buyFoot()" [disabled]="(canBuyFoot$ | async) === false">
          <div class="upgrade-button__title">
            Foot
          </div>
          <div class="upgrade-button__cost">
            Cost: {{this.foot.cost}}
          </div>
        </button>
        <div  class="upgrade__count">{{this.foot.amount}}</div>
      </li>
    </ul>
  </div>
</div>
