.camel__click {
  height: 500px;
  width: 500px;
  background-color: transparent;
  border: none;
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
  margin: 0 !important;
}




.camel__click{
  --d: 5em; /* image size */
  --rel: 1; /* how much extra space we want between images, 1 = one image size */
  --r: calc(.6*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  position: relative;
  // z-index:
  overflow:visible;
}

.camel__click .item {
  position: absolute;
  top: 50%; left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d); height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform:
    rotate(var(--az))
    translate(var(--r));
  height: 3rem; width: 3rem;
  z-index: 0;

  animation: moveInOut 2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.3s); /* Stagger the start time */
}

@keyframes moveInOut {
  0%, 100% {
    transform:
      rotate(var(--az))
      translate(var(--r))
 ;
  }
  50% {
    transform:
      rotate(var(--az))
      translate(calc(var(--r) * 1.2)) /* Adjust multiplier for desired effect */
     ;
  }
}

.camel {
  z-index: 99;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  color: white;
  z-index: 5;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;


  // DONT TOUCH THIS
  // From https://projects.verou.me/css3patterns/#starry-night
  background-color: black;
  background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.everything {
  display: grid;
  grid-template-columns: 67% 33%;
  height:100vh;
}

.cash-money-counter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 4rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center; // This will center the text vertically
  justify-content: center; // This will center the text horizontally

  img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    display: inline-block;
  }
}

.information-icon {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  //padding: 2rem 1rem;
  // display: flex;
  // align-items: center; // This will center the text vertically
  // justify-content: center; // This will center the text horizontally
  cursor: pointer;
  width: 96px;
  height: 96px;
  overflow: hidden;

  &:hover {
    width: auto;
    display: flex;
    align-items: center; // This will center the text vertically
    justify-content: center; // This will center the text horizontally
  }

  img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    display: inline-block;
  }

  .information-bubble {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    color: #000;
  }
}

.right-panel {
  grid-column: 2;
  height: 100%;
  background-color:red;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 5;
  overflow-y: scroll;
  border-left: 8px solid #dea45d;

  // DONT TOUCH THIS
  // From https://projects.verou.me/css3patterns/#stairs
  background:
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #999 78%),
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
    #444;
  background-size: 16px 48px;
}

.upgrades-list {
  list-style-type: none;
  padding-left: 0;
}

.upgrade-list__upgrade + .upgrade-list__upgrade {
  margin-top: 2rem;
}


.right-panel__title {
  color: white;
  font-size: 3rem;
  line-height: 3rem;
}

.upgrade-list__upgrade {
  height: 4rem;
  line-height: 4rem;
}

.levelUp__button {
  width: calc(50% - 4rem);
}

.upgrade__button + .levelUp__button {
  margin-left: 1rem;
}

.upgrade__button {
  width: calc(50% - 1rem);
  vertical-align: top;
  height: 4rem;
  display: inline-block;
  top: 0;
  color: white;
  background-color: #dea45d;
  border-radius: 4px;
  border: 2px solid white;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }

    .upgrade-button__title,
    .upgrade-button__cost {
color: black;
    }
  }
}

.upgrade__count {
  width: 4rem;
  display: inline-block;
  line-height: 4rem;
  font-size: 4rem;
  height: 4rem;
  text-align: center;
}

.upgrade-button__title {
  text-align: left;
  font-size: 1.5rem
}

.upgrade-button__cost {
  text-align: left;
}

.levelUp__button {
  vertical-align: top;
  height: 4rem;
  display: inline-block;
  top: 0;
  color: white;
  background-color: black;
  border-radius: 4px;
  border-style: none;

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
}

.power-up {
  z-index: 9999;
  position: absolute;
}

.power__click {
  background-color: transparent;
  border: none;
}

.power-up-img {
  height: 8rem;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
  overflow: hidden;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;

}

.achievement-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  border-radius: 4px;
  border: 2px solid white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.achievement-container + .achievement-container {
  margin-top: 1rem;
}

.achievement-container--unlocked {
  background-color: #dea45d;

  .achievement__subtitle,
  .achievement__title {
    color: black;
  }
}

.achievement__title  {
  font-size: 1.2rem;
}

.achievement__subtitle{
  font-size: 0.8rem;
}

.clouds{
	width:10000px;
  overflow: hidden;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 50s linear infinite;
  -ms-animation:move-background 50s linear infinite;
  -o-animation:move-background 50s linear infinite;
  -webkit-animation:move-background 50s linear infinite;
  animation:move-background 50s linear infinite;
}

// img{
//   height: 70vh;
//   width:70vh;
//   position: absolute;
//   z-index: 3;
//   right: 20px;
// }

.achievement-toast {
  position: absolute;
  bottom: 2rem;
  width: 16rem;
  height: 4rem;
  border: 2px white solid;
  background-color: #dea45d;
  border-radius: 2rem;
}

.achievement-toast__title {
  height: 2rem;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: black;
}

.achievement-toast__subtitle {
  font-size: 1rem;
  height: 2rem;
  padding-bottom: 0.5rem;
  color: black;
}
